/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
nav {
  display: flex;
  flex-direction: column;
}
nav li {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;
}
.info {
  width: 50%;
  text-align: justify;
}
.info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.info h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
.info div {
  margin: 1rem;
  width: 80%;
}
.info .about {
  border: 1px solid black;
  margin: 10px;
}
.info .goals {
  border: 1px solid black;
  margin: 10px;
}
.experience {
  width: 50%;
  text-align: justify;
}
.experience h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.experience h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
.experience div {
  margin: 1rem;
  width: 80%;
}
.experience .MMS {
  border: 1px solid black;
  margin: 10px;
}
.experience .APD {
  border: 1px solid black;
  margin: 10px;
}
.experience .TDOC {
  border: 1px solid black;
  margin: 10px;
}
.experience .WNC {
  border: 1px solid black;
  margin: 10px;
}
.experience .AHS {
  border: 1px solid black;
  margin: 10px;
}
.experience .NHC {
  border: 1px solid black;
  margin: 10px;
}
.experience .URMC {
  border: 1px solid black;
  margin: 10px;
}
.experience .CNA {
  border: 1px solid black;
  margin: 10px;
}
.education {
  width: 50%;
  text-align: justify;
}
.education h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.education h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
.education div {
  margin: 1rem;
  width: 80%;
}
.education .LS {
  border: 1px solid black;
  margin: 10px;
}
.education .TTC {
  border: 1px solid black;
  margin: 10px;
}
.contacts h2 {
  width: 50%;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
